html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body(style="display:inline-block",onload=`lockerlayout()`)
		include head.pug
		div(class="grid-container")
			- var cnt=0
			while cnt<=12
				- var numb = 79+cnt,row= 4+ cnt,col=8
				div(class="locker-cell",style=`grid-row:${row};grid-column:${col}`,onclick=`location.href='/locker/${numb}'`)!=numb
				- cnt++
			
			