html
	head
		title!=title
		style
			include styles.css
		script(type="text/javascript")
			include script.js
		script(type="text/javascript")
			include sorttable.js
	body(style="display:inline-block")
		include head.pug
		div(class="grid-container")
			- var numb = 79
			- var status = rows.filter((rows)=>{ return rows.number == numb })[0].status
			div(style=`background:${statusLockerColor[status]};grid-row:3;grid-column:8`,onclick="location.href='/locker/"+numb+"'")!=numb
			- numb = 78
			div(style="background:white;grid-row:4;grid-column:8")!=numb
			div(style="background:white;grid-row:5;grid-column:8")
			div(style="background:white;grid-row:6;grid-column:8")
			div(style="background:white;grid-row:7;grid-column:8")
			div(style="background:white;grid-row:8;grid-column:8")
			div(style="background:white;grid-row:9;grid-column:8")
			div(style="background:white;grid-row:10;grid-column:8")
			div(style="background:white;grid-row:11;grid-column:8")
			div(style="background:white;grid-row:12;grid-column:8")