div(id="overlay")
    div(id="iframeContainer",style="background:white;width:80%;height:80vh;top:25px;position:absolute;left:10%")
        div(id="container")
        button(style="right:0px;position:absolute",onclick="overlayOff()")!="X"