body {
  background: lightblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
  margin: 0 1.875rem 0 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: lightgray;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
