:root {
	--main: linear-gradient(
		0deg,
		rgba(214, 243, 255, 1) 0%,
		rgba(125, 223, 255, 1) 100%
	);
	--sub1: #2e8bc0;
	--sub2: #2e8bc0;
	--sub3: #145da0;
	--hover: #b1d4e086;
	font-size: 1em;
}
input,
select,
textarea {
	font-size: 1em;
}
#topBar {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	display: flex;
	background: var(--sub1);
	margin-top: 1px;
}
.top {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;

	margin-top: 3px;
	margin-bottom: 3px;
}
.topSticky {
	display: contents;
	position: sticky;
	top: 0;
}
.top * {
	font-size: 1em;
}
.top form {
	margin-bottom: 0px;
}
body {
	display: inline-flex;
	min-width: calc(100vw - 8px);
	flex-direction: column;
	/* border: 1px solid black; */
	margin: 0 4px 0 4px;
	background: var(--main);
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}
body.main {
	height: 100vh;
	overflow-y: hidden;
}
h1 {
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
}

li {
	float: left;
	margin: 0 1.875rem 0 0;
}
.tableFixHead {
	box-shadow: 0px 1px 2px 0px;
	display: contents;
	overflow-y: auto;
	margin-bottom: 3px;
	flex: 1;
}
.tableFixHead thead th {
	background: var(--sub2);
	position: sticky;
	top: 0%;
	border-bottom: 1px solid #000000;
}

.grid-container {
	display: grid;
	background: darkslateblue;
	grid-template-columns: repeat(60, 1.645vw);
	grid-template-rows: repeat(35, 1.2vw);
}
.blockTable {
	display: block;
}
.info-table-table {
	margin-block-end: 1em;
	display: inline-flex;
	max-height: 60vh;
}
.locker-cell {
	text-shadow: -0.05vw 0 black, 0 0.05vw black, 0.05vw 0 black, 0 -0.05vw black;
	text-align: center;
	font-size: 0.8vw;
	font-family: sans-serif;
}
.grid-container div {
	border: 1px solid #000000;
}
table {
	box-shadow: 0px 1px 2px 0px;
	display: table;
	font-family: arial, sans-serif;
	border-spacing: 0;
	width: 100%;
	background: rgb(230, 230, 230);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

form {
	display: table-cell;
}
.info-tables {
	display: flex;
	align-items: end;
	justify-content: center;
	flex-flow: unset;
}
@media only screen and (max-width: 1000px) {
	.info-tables {
		flex-flow: wrap;
	}
}
@media (orientation: portrait) {
	:root {
		font-size: 2em;
	}
	td,
	th {
		font-size: 2em !important;
	}
	.info-table-table {
		max-height: 40vh;
	}
}
td,
th {
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	text-align: left;
	padding: 3px;
	white-space: pre-wrap;
	font-size: 1em;
}
tr:hover td {
	background: var(--hover);
}
tr:nth-child(even) {
	background-color: rgb(220, 220, 220);
}
.sidenav {
	box-shadow: 0px 1px 2px 0px black;
	border: 2px solid white;
	border-radius: 0 15px 15px 0;
	display: none;
	height: auto;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0%;
	background-color: #111;
	overflow-x: hidden;
	padding: 10px;
	text-align: left;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
hr.solid {
	margin: 0;
	border: 0;
	border-top: 1px solid white;
}
.sidenav a {
	padding: 1px 4px 1px 10px;
	text-decoration: none;
	font-size: 0.8em;
	color: #dadada;
	display: block;
}
.sidenav a.sub {
	padding: 0.5vh 1px 0.5vh 15px;
	text-decoration: none;
	font-size: 0.6em;
	color: #bdbdbd;
	display: block;
}
#sideNavButton:hover {
	background: var(--sub3);
}
.history-form {
	display: flex;
	flex-direction: column;
}
.title {
	margin: auto;
}
a.placeholder {
	color: #666 !important;
	pointer-events: none;
}
#sideNavButton {
	border: 1px solid white;
	display: flex;
	position: relative;
	color: black;
	border-radius: 2px;
	white-space: nowrap;
	text-align: center;
	background: black;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
	vertical-align: baseline;
	padding-right: 5px;
	padding-left: 5px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidenav a:hover {
	background: var(--sub3);
	border-radius: 5px;
	color: #f1f1f1 !important;
}
.sortable {
	overflow: auto;
}
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}
.status {
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.title,
th {
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
input[type="button"],
button {
	font-size: 1em;
	transition-duration: 0.2s;
	border-radius: 4px;
	background-color: white;
}

input[type="button"]:hover,
button:hover {
	background-color: var(--sub3); /* Green */
	color: white;
}
