.top {
	display: flex;
	width: fit-content;
	margin: auto;
	min-height: 4vh;
	margin-top: 3px;
	margin-bottom: 3px;
}
.top * {
	min-height: 100%;
}
.top form {
	margin-bottom: 0px;
}
body {
	display: flex;
	flex-direction: column;
	background: lightblue;
	max-height: 100%;
	height: 100%;
	margin: 0 4px 0 4px;
	overflow-y: hidden;
}
h1 {
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
}

li {
	float: left;
	margin: 0 1.875rem 0 0;
}
.tableFixHead {
	overflow-y: auto;
	height: auto;
	margin-bottom: 3px;
}

.tableFixHead thead th {
	background: darkgray;
	position: sticky;
	border-bottom: 1px solid #000000;
	top: 0;
}

.grid-container {
	display: grid;
	background: darkslateblue;
	grid-template-columns: repeat(60, 1.645vw);
	grid-template-rows: repeat(35, 1.2vw);
}
.locker-cell {
	text-shadow: -0.05vw 0 black, 0 0.05vw black, 0.05vw 0 black, 0 -0.05vw black;
	text-align: center;
	font-size: 0.85vw;
	font-family: sans-serif;
}
.grid-container div {
	border: 1px solid #000000;
}
table {
	font-family: arial, sans-serif;
	border-spacing: 0;
	width: 100%;
	background: lightgray;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

form {
	display: table-cell;
}
td,
th {
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	text-align: left;
	padding: 3px !important;
	width: auto;
	height: 10px;
	white-space: pre-wrap;
}
tr:hover td {
	background: rgba(111, 0, 201, 0.308) !important;
}

.sidenav {
	border-radius: 0 25px 25px 25px;
	display: none;
	height: auto;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0%;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	text-align: left;
}

.sidenav a {
	padding: 1vh 4px 1vh 10px;
	text-decoration: none;
	font-size: 3vh;
	color: #c4c4c4;
	display: block;
}
.sidenav a.sub {
	padding: 1vh 1px 1vh 20px;
	text-decoration: none;
	font-size: 2vh;
	color: #9b9b9b;
	display: block;
}
#sideNavButton:hover {
	color: white;
}
#sideNavButton {
	display: inline-block;
	position: relative;
	color: black;
	border-radius: 0 0 5px 0;
	white-space: nowrap;
	text-align: center;
	background: blue;
	font-size: 3vh;
	cursor: pointer;
	vertical-align: baseline;
	padding-right: 5px;
	padding-left: 5px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#topBar {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	display: flex;
	background: mediumpurple;
}
.sidenav a:hover {
	background: gray;
	color: #f1f1f1 !important;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}
